In [1]:
from classes.model import Model
from classes.scenario import Scenario


# Scenario overwrites default values
scenario = Scenario({"run_duration": 5})

model = Model(scenario)

model.run()

In [2]:
model.results_all

,id,lsoa,closest_ivt_unit,closest_ivt_time,closest_mt_unit,closest_mt_time,mt_transfer_unit,mt_transfer_time,mt_transfer_required,time_onset,time_ambulance_called,time_ambulance_arrives
0,6,Nottingham 036A,NG72UH,14.4,NG72UH,14.4,NG72UH,0.0,False,31.9,14.5,42.4
1,3,Bradford 002G,BD96RJ,30.5,LS13EX,32.6,LS13EX,25.1,False,6.1,42.9,77.5
2,1,Rotherham 010B,DN25LT,19.8,S102JF,25.1,S102JF,33.7,False,0.0,23.2,86.0
3,4,Plymouth 012A,PL68DH,13.3,PL68DH,13.3,PL68DH,0.0,False,17.0,30.7,79.8
4,7,Spelthorne 008B,KT160PZ,17.6,SW66SX,28.4,SW66SX,35.9,False,39.1,22.3,73.9
...,...,...,...,...,...,...,...,...,...,...,...,...
1076,1084,Calderdale 026B,HX30PW,12.2,LS13EX,32.6,LS13EX,30.5,False,7146.8,6.0,37.1
1077,1082,New Forest 006D,SO166YD,14.4,SO166YD,14.4,SO166YD,0.0,False,7131.1,9.8,61.3
1078,1081,Kensington and Chelsea 018C,SW66SX,13.3,SW66SX,13.3,SW66SX,0.0,False,7128.4,23.2,65.7
1079,1076,East Lindsey 016A,LN25QY,44.5,NG72UH,77.8,NG72UH,57.4,False,7105.8,18.1,90.2
1080,1080,Bristol 053C,BS105NB,25.1,BS105NB,25.1,BS105NB,0.0,False,7127.9,27.1,70.5

In [3]:
completed_patients_keys = model.pathway.completed_patients[0].keys()
time_cols = [x for x in completed_patients_keys if x[0:4] == 'time']
time_cols.remove('time_onset')

In [4]:
model.results_summary_all

           time_ambulance_called  time_ambulance_arrives
statistic
mean                   32.143108               81.784366
std                    15.895655               20.178731

In [5]:
model.results_summary_by_admitting_unit

                 time_ambulance_called            time_ambulance_arrives  \
                                  mean        std                   mean
closest_ivt_unit
B152TH                       33.414286  18.425019              85.600000
B714HJ                       32.123077  15.832359              76.507692
BA13NG                       34.242857  14.416642              84.807143
BA214AT                      35.333333  17.458599              73.100000
BB23HH                       34.042857  13.606354              80.300000
...                                ...        ...                    ...
WD180HB                      34.280000  18.038835              85.890000
WF14DG                       34.194118  15.554721              83.529412
WR51DD                       33.054545  16.834866              81.227273
WV100QP                      31.787500  21.584415              85.262500
YO318HE                      30.220000  14.271090              76.350000


                        std
closest_ivt_unit
B152TH            20.560118
B714HJ            19.527394
BA13NG            17.470127
BA214AT           22.842767
BB23HH            22.397098
...                     ...
WD180HB           24.920159
WF14DG            19.284572
WR51DD            20.905315
WV100QP           11.882873
YO318HE           19.210081

[101 rows x 4 columns]