In [1]:
import numpy as np
import pandas as pd

from classes.model import Model
from classes.scenario import Scenario

In [2]:

# Scenario overwrites default values
scenario = Scenario({
    "run_duration": 100 * 365,  # days
    "mt_hub_postcodes":['PL68DH'],
    "use_msu": False,
    "probability_mt": 0
})

model = Model(scenario)

model.run()

model.results_all.to_csv('./temp/standard_ivt_only.csv')

model.results_summary_all

,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,mRS shift,utility_shift,mRS 0-2
statistic,,,,,,,,,,
mean,60.0,90.0,110.0,133.719981,173.743493,NaN,NaN,-0.389828,0.073347,0.556506
std,0.0,0.0,0.0,10.896456,10.911780,NaN,NaN,0.137843,0.023178,0.171932

In [3]:
from classes.model import Model
from classes.scenario import Scenario


# Scenario overwrites default values
scenario = Scenario({
    "run_duration": 100 * 365,  # days
    "mt_hub_postcodes":['PL68DH'],
    "use_msu": False,
    "probability_mt": 0,
    "probability_ivt": 0

})

model = Model(scenario)

model.run()

model.results_all.to_csv('./temp/no_treatment.csv')

model.results_summary_all

,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,mRS shift,utility_shift,mRS 0-2
statistic,,,,,,,,,,
mean,60.0,90.0,110.0,133.704182,NaN,NaN,NaN,0.0,0.0,0.477161
std,0.0,0.0,0.0,10.894962,NaN,NaN,NaN,0.0,0.0,0.147711

In [4]:

# Scenario overwrites default values
scenario = Scenario({
    "run_duration": 100 * 365,  # days
    "mt_hub_postcodes":['PL68DH'],
    "use_msu": False,
    "probability_mt": 1
})

model = Model(scenario)

model.run()

model.results_all.to_csv('./temp/standard_ivt_mt.csv')

model.results_summary_all

,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,mRS shift,utility_shift,mRS 0-2
statistic,,,,,,,,,,
mean,60.0,90.0,110.0,133.692892,173.627385,302.327811,305.729370,-0.458210,0.087219,0.570904
std,0.0,0.0,0.0,10.885595,10.866078,19.706660,76.475358,0.140639,0.025859,0.154048

In [5]:

# Scenario overwrites default values
scenario = Scenario({
    "run_duration": 100 * 365,  # days
    "mt_hub_postcodes":['PL68DH'],
    "use_msu": True,
    "probability_mt": 0
})

model = Model(scenario)

model.run()

model.results_all.to_csv('./temp/msu_ivt_only.csv')

model.results_summary_all

,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,time_msu_arrival,mRS shift,utility_shift,mRS 0-2
statistic,,,,,,,,,,,
mean,60.0,NaN,NaN,184.344413,147.806396,NaN,NaN,127.711202,-0.444371,0.082976,0.566794
std,0.0,NaN,NaN,30.336020,25.717363,NaN,NaN,25.689255,0.157088,0.026426,0.174342

In [6]:

# Scenario overwrites default values
scenario = Scenario({
    "run_duration": 100 * 365,  # days
    "mt_hub_postcodes":['PL68DH'],
    "use_msu": True,
    "probability_mt": 1
})

model = Model(scenario)

model.run()

model.results_all.to_csv('./temp/msu_ivt_mt.csv')

model.results_summary_all

,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,time_msu_arrival,mRS shift,utility_shift,mRS 0-2
statistic,,,,,,,,,,,
mean,60.0,NaN,NaN,190.612250,147.662994,NaN,220.151114,127.626583,-0.584775,0.110683,0.596077
std,0.0,NaN,NaN,38.040232,25.747953,NaN,51.313317,25.728989,0.118663,0.024653,0.134415

In [7]:
msoa = pd.read_csv('./data/lsoa_to_msoa.csv')

In [8]:
model.results_summary_all

,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,time_msu_arrival,mRS shift,utility_shift,mRS 0-2
statistic,,,,,,,,,,,
mean,60.0,NaN,NaN,190.612250,147.662994,NaN,220.151114,127.626583,-0.584775,0.110683,0.596077
std,0.0,NaN,NaN,38.040232,25.747953,NaN,51.313317,25.728989,0.118663,0.024653,0.134415

In [9]:
model.results_summary_by_admitting_unit

                 time_ambulance_called      time_ambulance_arrival      \
                                  mean  std                   mean std
closest_ivt_unit
EX25DW                            60.0  0.0                    NaN NaN
EX314JB                           60.0  0.0                    NaN NaN
PL68DH                            60.0  0.0                    NaN NaN
TQ27AA                            60.0  0.0                    NaN NaN
TR13LQ                            60.0  0.0                    NaN NaN

                 time_ambulance_leaves_scene     time_admitting_unit_arrival  \
                                        mean std                        mean
closest_ivt_unit
EX25DW                                   NaN NaN                  198.280075
EX314JB                                  NaN NaN                  223.760934
PL68DH                                   NaN NaN                  149.139941
TQ27AA                                   NaN NaN                  176.075108
TR13LQ                                   NaN NaN                  218.193436

                            time_needle             ... time_puncture  \
                        std        mean        std  ...          mean
closest_ivt_unit                                    ...
EX25DW            23.850264  154.848205   8.678409  ...    234.679243
EX314JB           29.970038  174.032243  14.733992  ...    272.809784
PL68DH            23.758985  113.080201  11.778661  ...    151.251043
TQ27AA            16.307950  139.086169   5.599654  ...    203.218568
TR13LQ            30.340961  167.899304  16.948517  ...    260.668473

                            time_msu_arrival            mRS shift            \
                        std             mean        std      mean       std
closest_ivt_unit
EX25DW            17.474834       134.838942   8.742494 -0.557972  0.053271
EX314JB           29.486624       154.002626  14.720130 -0.487977  0.059459
PL68DH            23.425120        93.123038  11.820430 -0.712359  0.127974
TQ27AA            11.215277       119.113954   5.608141 -0.616288  0.072189
TR13LQ            33.907137       147.860555  16.970195 -0.510167  0.070360

                 utility_shift             mRS 0-2
                          mean       std      mean       std
closest_ivt_unit
EX25DW                0.105930  0.014055  0.590189  0.136173
EX314JB               0.093063  0.012489  0.577303  0.142997
PL68DH                0.133722  0.028971  0.621133  0.119936
TQ27AA                0.116545  0.018548  0.601188  0.130276
TR13LQ                0.097095  0.014963  0.582596  0.140642

[5 rows x 22 columns]

In [10]:
model.results_all[np.isnan(model.results_all['time_puncture']) == False]

,id,lsoa,stroke_type,closest_ivt_unit,closest_ivt_travel_duration,closest_mt_unit,closest_mt_travel_duration,mt_transfer_unit,mt_transfer_travel_duration,mt_transfer_required,...,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,time_msu_arrival,mRS shift,utility_shift,mRS 0-2
9,10,South Hams 002E,2,PL68DH,26.2,PL68DH,26.2,PL68DH,0.0,False,...,NaN,NaN,157.4,116.2,NaN,157.4,96.2,-0.861968,0.169735,0.444695
13,14,Cornwall 066A,2,TR13LQ,28.4,PL68DH,89.6,PL68DH,75.6,False,...,NaN,NaN,284.2,179.6,NaN,284.2,159.6,-0.461900,0.094721,0.364422
19,20,Teignbridge 014C,2,TQ27AA,15.5,PL68DH,45.5,PL68DH,52.0,False,...,NaN,NaN,196.0,135.5,NaN,196.0,115.5,-0.736872,0.146626,0.419742
51,52,Cornwall 038B,2,TR13LQ,30.5,PL68DH,58.4,PL68DH,75.6,False,...,NaN,NaN,221.8,148.4,NaN,221.8,128.4,-0.654841,0.131295,0.403282
55,56,North Devon 010B,2,EX314JB,11.2,PL68DH,88.5,PL68DH,90.6,False,...,NaN,NaN,282.0,178.5,NaN,282.0,158.5,-0.468569,0.095996,0.365766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303892,303893,South Hams 005A,2,PL68DH,20.8,PL68DH,20.8,PL68DH,0.0,False,...,NaN,NaN,146.6,110.8,NaN,146.6,90.8,-0.897455,0.176229,0.451733
303894,303895,Cornwall 046D,2,TR13LQ,16.5,PL68DH,82.1,PL68DH,75.6,False,...,NaN,NaN,269.2,172.1,NaN,269.2,152.1,-0.507565,0.103438,0.373624
303897,303898,Teignbridge 008D,2,TQ27AA,23.0,PL68DH,57.4,PL68DH,52.0,False,...,NaN,NaN,219.8,147.4,NaN,219.8,127.4,-0.661153,0.132479,0.404550
303902,303903,East Devon 016A,2,EX25DW,23.0,PL68DH,65.9,PL68DH,59.5,False,...,NaN,NaN,236.8,155.9,NaN,236.8,135.9,-0.607749,0.122433,0.393808
303903,303904,Mid Devon 008D,2,EX25DW,21.9,PL68DH,72.4,PL68DH,59.5,False,...,NaN,NaN,249.8,162.4,NaN,249.8,142.4,-0.567298,0.114786,0.385662

In [11]:
model.results_all[np.isnan(model.results_all['time_needle']) == False]

,id,lsoa,stroke_type,closest_ivt_unit,closest_ivt_travel_duration,closest_mt_unit,closest_mt_travel_duration,mt_transfer_unit,mt_transfer_travel_duration,mt_transfer_required,...,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,time_msu_arrival,mRS shift,utility_shift,mRS 0-2
2,4,Torbay 011A,1,TQ27AA,12.2,PL68DH,48.8,PL68DH,52.0,True,...,NaN,NaN,166.0,138.8,NaN,NaN,118.8,-0.569166,0.104037,0.692422
4,5,Cornwall 029B,1,PL68DH,36.9,PL68DH,36.9,PL68DH,0.0,False,...,NaN,NaN,178.8,126.9,NaN,NaN,106.9,-0.597660,0.108970,0.697834
8,9,Cornwall 044A,1,TR13LQ,11.2,PL68DH,72.4,PL68DH,75.6,True,...,NaN,NaN,188.6,162.4,NaN,NaN,142.4,-0.512114,0.094093,0.681533
9,10,South Hams 002E,2,PL68DH,26.2,PL68DH,26.2,PL68DH,0.0,False,...,NaN,NaN,157.4,116.2,NaN,157.4,96.2,-0.861968,0.169735,0.444695
13,14,Cornwall 066A,2,TR13LQ,28.4,PL68DH,89.6,PL68DH,75.6,False,...,NaN,NaN,284.2,179.6,NaN,284.2,159.6,-0.461900,0.094721,0.364422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303902,303903,East Devon 016A,2,EX25DW,23.0,PL68DH,65.9,PL68DH,59.5,False,...,NaN,NaN,236.8,155.9,NaN,236.8,135.9,-0.607749,0.122433,0.393808
303903,303904,Mid Devon 008D,2,EX25DW,21.9,PL68DH,72.4,PL68DH,59.5,False,...,NaN,NaN,249.8,162.4,NaN,249.8,142.4,-0.567298,0.114786,0.385662
303904,303905,Cornwall 030C,1,TR13LQ,28.4,PL68DH,62.7,PL68DH,75.6,True,...,NaN,NaN,196.1,152.7,NaN,NaN,132.7,-0.535650,0.098205,0.686034
303905,303906,South Hams 009C,1,PL68DH,24.1,PL68DH,24.1,PL68DH,0.0,False,...,NaN,NaN,153.2,114.1,NaN,NaN,94.1,-0.628097,0.114215,0.703594
303906,303907,West Devon 005F,1,PL68DH,24.1,PL68DH,24.1,PL68DH,0.0,False,...,NaN,NaN,153.2,114.1,NaN,NaN,94.1,-0.628097,0.114215,0.703594